@charset "UTF-8";

@media print { /* Versao impressora */

}

@media screen and (min-width: 768px) and (max-width: 992px) {/* TABLET */
    #menino{
        width: 510px;
    }

    #creditos {
        width: 480px;
    }

    p {
        width: 60vw;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/* DESKTOP */
   .material-symbols-outlined {
    display: none;
   }

   menu {
    display: block;
    padding: 20px;
   }
   
   ul > li {
    display: inline;
   }

   #menino {
    width: 700px;
   }

   #creditos {
    width: 680px;
   }

   p {
    width: 60vw;
   }
}


@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    .material-symbols-outlined {
        display: none;
       }
    
       menu {
        display: block;
        padding: 20px;
       }
       
       ul > li {
        display: inline;
       }

       #subtitulo {
        width: 40vw;
       }

       #menino {
        width: 700px;
       }

       #creditos {
        width: 680px;
       }

       p {
        width: 50vw;
       }
}